ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #434455;
    background-color: #ffffff;
}
/*----------------------- HEADER --------------*/
.header-nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav a:hover,
.header-nav a:focus {
    color: #404bbf;
}
.header-address a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address a:hover,
.header-address a:focus {
    color: #404bbf;
}
.header-logo {
    font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }
.logo-accent {
font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #000000;
}
/* ------------ADRESS------------------- */
.header-address {
    font-style: normal;
    }
.header-address a {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .header-address a:hover,
    .header-address a:focus {
        color: #404bbf;
    }

/*----------------------- hero --------------*/

.hero {
    background: #2e2f42;
}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
}
.button-accent {
    background-color: #4d5ae5;
}
.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;

}
.button-accent:hover,
.button-accent:focus {
    background-color: #404bbf;
}


/* -------------FEATURES -----------------*/
.features {}

.features-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.features-list {

}

.features-item {}

.features-subtitle{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2e2f42;
}

.features-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
}


/*----------------------- TEAM --------------*/
.team {
    background-color: #f4f4fd;
}
.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color:#2e2f42;
}
.team-list {
    list-style: none;
}
.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin: 0 auto;
}

.team-text {
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: center;
            color: #434455;
            margin: 0 auto;
}
.team-item img {
    width: 264px;
    height: 260px;
}
/*----------------------- PORTFOLIO --------------*/
.portfolio {}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.portfolio-list {

}
.portfolio-item {

}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin: 0;
}
.portfolio-item img {
    width: 360px;
    height: 300px;
}
/*----------------------- FOOTER --------------*/
.footer {
background-color: #2e2f42;
}

.footer-logo {
font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}
.footer-accent {
        color: #f4f4fd;}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        margin: 0;
}